@define-color dark0_hard #1d2021;
@define-color dark0 #282828;
@define-color dark0_soft #32302f;
@define-color dark1 #3c3836;
@define-color dark2 #504945;
@define-color dark3 #665c54;
@define-color dark4 #7c6f64;
@define-color dark4_256 #7c6f64;
@define-color gray_245 #928374;
@define-color gray_244 #928374;
@define-color light0_hard #f9f5d7;
@define-color light0 #fbf1c7;
@define-color light0_soft #f2e5bc;
@define-color light1 #ebdbb2;
@define-color light2 #d5c4a1;
@define-color light3 #bdae93;
@define-color light4 #a89984;
@define-color light4_256 #a89984;
@define-color bright_red #fb4934;
@define-color bright_green #a3d7a8;
@define-color bright_yellow #fff69c;
@define-color bright_blue #90caf7;
@define-color bright_purple #ea9899;
@define-color bright_aqua #8ec07c;
@define-color bright_orange #fdce7f;
@define-color neutral_red #cc241d;
@define-color neutral_green #98971a;
@define-color neutral_yellow #d79921;
@define-color neutral_blue #458588;
@define-color neutral_purple #ea9899;
@define-color neutral_aqua #689d6a;
@define-color neutral_orange #d65d0e;
@define-color faded_red #9d0006;
@define-color faded_green #79740e;
@define-color faded_yellow #b57614;
@define-color faded_blue #076678;
@define-color faded_purple #8f3f71;
@define-color faded_aqua #427b58;
@define-color faded_orange #af3a03;
/* @define-color mainbg_color #1e1e2e; */
@define-color mainbg_color #1b1e20;



* {
  /* font-family: FiraCode; */
  font-size: 17;
}

/* trough highlight {
  background: #cdd6f4;
}

scale trough {
  margin: 0rem 1rem;
  background-color: #313244;
  min-height: 8px;
  min-width: 70px;
} */

/* Widget buttons border */
.widget-buttons-grid .text-button,
.widget-mpris-player,
.control-center,
.control-center-clear-all,
.notification {
  border: 4px solid @dark4_256;
  border-radius: 10px;
  box-shadow: 5px 5px black;
}

/* Control center background-color */
.control-center {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: @mainbg_color;
}


/* DND Switch widget */
.widget-dnd,
.widget-title {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.widget-dnd>switch {
  border-radius: 5px;
  background: @bright_green;
  border: 3px solid black;
}

.widget-dnd>switch:checked {
  background: @neutral_red;
}

.widget-dnd>switch slider {
  background: @light0_hard;
  border-radius: 3px
}


/* Music player widget */
.widget-mpris-player {
  background-color: @neutral_blue;
}

.widget-mpris-album-art {
  box-shadow: none;
}

.widget-mpris>.horizontal>.image-button {
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 5px solid black;
  border-left: none;
  background-color: @faded_blue;
  box-shadow: 0px 5px black;
}

.widget-mpris>.horizontal>.image-button:nth-child(3) {
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 5px solid black;
  border-right: none;
}

.widget-buttons-grid {
  font-size: large;
  background: none;
  /* padding: 0px 10px;   */
  padding-bottom: 8px;
  margin-top: 1px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  padding-right: 40px;
  padding-left: 40px;
  font-size: large;
  background: white;
  color: white;
}

/* move buttons grid 20px up if there's the mpris player above it */
/* .widget-mpris+.widget-buttons-grid { */
/*   margin-top: -4px; */
/* } */



/* Icon background color */
.widget-buttons-grid .text-button {
  background-color: @dark1;
  font-size: 25px;
}
.widget-buttons-grid .text-button:hover {
  background-color: @dark4;
}



/* Clear all button */
.control-center-clear-all {
  background-color: @dark1}
.control-center-clear-all:hover {
  background-color: @neutral_red;
}



/* The "No Notifications" text and image */
.control-center-list-placeholder {
  color: @light0_hard;
}



/* Notification popup styling */
.notification {
  border: 2px solid @bright_blue;
  box-shadow: 5px 5px black;
  background-color: @dark0;
}

.notification:hover {
  background-color: @dark0;
}
/* Notifications inside control center */
.control-center .notification {
  background-color: @dark0;
  border: 2px solid @light4_256;
}


/* Notification text color */
.body,
.summary,
.notification-action {
  color: white;
}

/* Notification text color inside control-center */
.control-center .body,
.control-center .summary,
.control-center .notification-action {
  color: white;
}

/* Notifications with options */
/* Options border */
.notification-action {
  border-color: @bright_blue;
} 
/* Options border inside control-center */
.control-center .notification-action {
  border-color: @dark4_256; 
} 

/* .notification-action:hover {
  background-color: @dark4_256;
} */

/* Notification no highlight on hover */
.notification-default-action:hover {
  background-color: transparent;
}


/* .control-center .notification-action:hover {
  background-color: @dark4_256;
} 

.control-center .notification-default-action:hover {
  background-color: @bright_blue;
} */



/* Close notification button */
.close-button {
  border: 4px solid black;
  border-radius: 10px;
  margin: 6px;
  padding: 0px;
  background-color: @neutral_red;
  color: black;
}

.close-button:hover {
  background-color: @bright_red;
}



/* Notification time */
.time {
  margin-right: 40px;
}


/* Notification group app text color */
.notification-group-header,
.notification-group-icon {
  color: @light0_hard;
}

/* Close all and collapse button on notification group */
.notification-group-close-all-button,
.notification-group-collapse-button {
  border: 4px solid black;
  border-radius: 10px;
  /* padding: 2px; 
  margin: 3px; */
  box-shadow: 3px 3px black;
  color: @light0_hard;
}

.notification-group-close-all-button {
  background-color: @neutral_red;
}

.notification-group-collapse-button {
  background-color: @neutral_blue;
}
