@define-color dark0_hard #1d2021;
@define-color dark0 #282828;
@define-color dark0_soft #32302f;
@define-color dark1 #3c3836;
@define-color dark2 #504945;
@define-color dark3 #665c54;
@define-color dark4 #7c6f64;
@define-color dark4_256 #7c6f64;
@define-color gray_245 #928374;
@define-color gray_244 #928374;
@define-color light0_hard #f9f5d7;
@define-color light0 #fbf1c7;
@define-color light0_soft #f2e5bc;
@define-color light1 #ebdbb2;
@define-color light2 #d5c4a1;
@define-color light3 #bdae93;
@define-color light4 #a89984;
@define-color light4_256 #a89984;
@define-color bright_red #fb4934;
@define-color bright_green #a6d5a7;
@define-color bright_yellow #fff699;
@define-color bright_blue #90caf7;
@define-color bright_pink #ea9899;
@define-color bright_aqua #80cac5;
@define-color bright_orange #fecc7d;
@define-color neutral_red #cc241d;
@define-color neutral_green #98971a;
@define-color neutral_yellow #d79921;
@define-color neutral_blue #458588;
@define-color neutral_purple #ea9899;
@define-color neutral_aqua #689d6a;
@define-color neutral_orange #d65d0e;
@define-color faded_red #9d0006;
@define-color faded_green #79740e;
@define-color faded_yellow #b57614;
@define-color faded_blue #076678;
@define-color faded_purple #8f3f71;
@define-color faded_aqua #427b58;
@define-color faded_orange #af3a03;
@define-color bgcolor #1e201f;
@define-color paper  #e1e1e3;


* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font;
  font-weight: 800;
  font-size: 15px;
}

window#waybar {
  background-color: transparent;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}
button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  /* box-shadow: inset 0 -3px #ffffff; */
}


.modules-left,
.modules-center,
.modules-right {
  background-color: @bgcolor;
  border-radius: 10px;

  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 5px;
  margin-right: 5px;

  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 6px;
  padding-right: 6px;
}

#mode {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#keyboard-state,
#bluetooth,
#custom-notification,
#quick-apps,
#custom-collector,
#custom-text-pieces,
#custom-dialect,
#custom-characters,
#custom-frog,
#custom-eyedropper,
#language,
#workspaces,
#privacy,
#privacy-item,
#mpd {
  /* padding: 0 5px; */
  margin: 0px;
  color: black;
  border-radius: 5px;
  /* border: 1.5px solid white; */
  padding-left:12px;
  padding-right:12px;
}

#power-profiles-daemon {
  padding-right: 14px;
  padding-left: 14px;
  /* margin-left: 5px; */
}
#power-profiles-daemon.performance {
  background-color: @bright_pink;
  /* color: #ffffff; */
}
#power-profiles-daemon.balanced {
  background-color: @bright_blue;
  color: black;
}
#power-profiles-daemon.power-saver {
  background-color: @bright_green;
  color: black;
}


#idle_inhibitor {
  /* background-color: @neutral_yellow; */
  padding-left: 10px;
  padding-right: 18px;
  background-color: @bright_orange;
  /* color: white; */
}
#idle_inhibitor.activated {
  background-color: @bright_green;
  color: black;
}


#cpu {
  background-color: @bright_aqua;
  /* color: #000000; */
  /* padding-left: 6px; */
  /* padding-right: 8px; */
}


#temperature {
  background-color: @bright_blue;
  /* color: #000000; */
}
#temperature.critical {
  background-color: @bright_red;
  /* color: #000000; */
}


#memory {
  background-color: @bright_green;
  /* color: #000000; */
}


#battery,
#battery.charging,
#battery.plugged {
  background-color: @bright_aqua;
  /* color: #-000001; */
  /* padding-left: 10px; */
  /* padding-right: 9px; */
}

#workspaces {
  /* background-color: white; */
  padding-right: 16px;
}
#workspaces button {
  /* color:lightskyblue; */
}
#workspaces button:hover {
  /* background: none; */
}


#clock {
  background-color: @light0_hard;
  /* color: black; */
  /* padding-top: 2px; */
}


#network {
  /* background-color: @bright_aqua; */
  color: white;
  /* padding-left:10px; */
  /* padding-right:10px; */
}
#network.disconnected {
  background-color: @bright_red;
}


#backlight {
  background-color: @bright_blue;
  /* color: black; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
}


#pulseaudio {
  background-color: @bright_aqua;
  /* color: #000000; */
}
#pulseaudio.muted {
  background-color: @neutral_red;
  color: white;
}


#privacy {
  background-color: @light0;
  /* padding-right: 8px; */
}
#privacy-item {
  border: none;
  /* background-color: @neutral_red; */
  padding-left: 1px;
  padding-right: 1px;
}
#privacy-item.screenshare {
  /* background-color: @neutral_orange; */
  padding-left:5px;
}
#privacy-item.audio-in {
  /* background-color: @neutral_green; */
}
#privacy-item.audio-out {
  /* background-color: @neutral_blue; */
}


#tray {
  /* background-color: @light0_hard; */
  /* color: white; */
}
#tray>.passive {
  -gtk-icon-effect: dim;
}
#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @bright_red;
}


#custom-notification {
  background-color: @bright_green;
  padding-left: 15px;
  padding-right:17px;
  /* margin-right: 6px; */
}
#custom-notification.notification {
  background-color: @bright_pink;
  /* color: white; */
}
